---
layout: default
title: Home
---
<!-- ========== ABOUT ========= -->
<span class="anchor" id="about"  id="about"></span>
<div class="docs-section">
  <h4>About</h4>
  <p>
  My research focuses on <b>improving decision making</b> for <b>machine learning</b> systems, with a particular focus on <b>fairness</b>. 
  This includes work on fairness in rideshare matching algorithms [<a href="https://arxiv.org/abs/2110.03524" target="_blank">IJCAI'21</a>], learning-to-defer algorithms [<a href="https://arxiv.org/abs/2112.10768" target="_blank">NeurIPS'21 WHMD</a>], and fairness in question answering algorithms [<a href="https://aclanthology.org/2021.mrqa-1.9/" target="_blank">EMNLP'21 MRQA</a>]. 
  I'm particularly interested in the intersection between decision making and healthcare, including causality, treatment matching, and interpretability. 
  Feel free to reach out and talk to me! 
  </p>
</div>

<!-- ========== BIO ========== -->
<span class="anchor" id="bio"></span>
<div class="docs-section">
  <h4>Bio</h4>
  <p>
  I am incoming MPhil candidate at Cambridge University, attending on a fully-funded Churchill scholarship, and will be attending the Machine Learning department at Carnegie Mellon in 2023 on an NSF Fellowship. 
  I received my BS in Computer Science and Math from the University of Maryland and graduated Magna Cum Laude. 
  During my time at Maryland, I worked with <a href="http://johnpdickerson.com" target="_blank">John Dickerson</a> on fairness in rideshare, and with <a href="http://www.umiacs.umd.edu/user.php?path=jbg" target="_blank">Jordan Boyd-Graber</a> on entity linking algorithms. 
  During my summers, I worked as an intern at Carnegie Mellon, Meta, and MIT Lincoln Labs. 
  </p> 
</div>


<!-- ========== PUBLICATIONS ========== -->
<span class="anchor" id="publications"></span>
<div class="docs-section">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== NEWS ========== -->
<span class="anchor" id="news"></span>
<div class="docs-section">
  <h4>News</h4>
  <UL style="list-style-type: none; padding: 2px; overflow-y: scroll; height:300px;">
    {% for news in site.data.news.news %}
      <li> <b> {{news.date}} </b> - 
      
      {{news.info}}  </li> 
    {% endfor %} 
    
  </UL>
</div>

<!-- ========== READING ========== -->
<span class="anchor" id="reading"></span>
<div class="docs-section">
  <h4>Reading List</h4>
  <!-- <p> Scroll for older news </p> -->
  <div style=" overflow-y: scroll; height:300px;"> 
    {% for entry in site.data.reading %}
      <OL style="padding: 2px;">
        <h5> <b> {{entry.year}} </b> </h5> 
        {% for book in entry.books %} 
          <li> <a href="{{book.url}}">{{book.title}}</a> by {{book.author}} </li> 
        
        {% endfor %} 
      </OL>

    {% endfor %} 
    </div> 
</div>

<div class="docs-section" id="template">
    <h4>Acknowledgements</h4>
    This website is made using a template by <a href="https://github.com/msaveski/www_personal"> Martin Saveski </a> 
</div>
