---
layout: default
title: Home
---
<span class="anchor" id="about"  id="about"></span>
<div class="docs-section">
  <h4>About</h4>
  <p>
  Hello! I'm a second year PhD student in the Machine Learning Department at Carnegie Mellon University, advised by  <a href="https://feifang.info" target="_blank">Fei Fang</a>, and funded by an NSF Fellowship. 
  My research focuses on <b> improving decision-making in human environments</b>, including topics such as human-AI collaboration, explainability, and sequential decision-making. 
  My work studies these problems in real-world applications including food sustainability and healthcare. 
  <br /> <br />
  I previously obtained my MPhil in Advanced Computer Science on a Churchill Scholarship, where I worked with <a href="https://www.cl.cam.ac.uk/~mj201/" target="_blank">Mateja Jamnik</a> to understand explainability through concept learning models. 
  I received my BS in Computer Science and Math from the University of Maryland, during which I worked with <a href="http://johnpdickerson.com" target="_blank">John Dickerson</a> on fairness in rideshare, and with <a href="http://www.umiacs.umd.edu/user.php?path=jbg" target="_blank">Jordan Boyd-Graber</a> on entity linking algorithms. 
  <br /> <br />
  If you want to chat about any of these topics, or just about research in general, feel free to reach out! 
  </p>
</div>



<!-- ========== PUBLICATIONS ========== -->
<span class="anchor" id="publications"></span>
<div class="docs-section">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.talk %}
              <a class="button" href="{{ paper.talk }}" target="_blank">Talk</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.talk %}
              <a class="button" href="{{ paper.talk }}" target="_blank">Talk</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== NEWS ========== -->
<span class="anchor" id="news"></span>
<div class="docs-section">
  <h4>News</h4>
  <UL style="list-style-type: none; padding: 2px; overflow-y: scroll; height:300px;">
    {% for news in site.data.news.news %}
      <li> <b> {{news.date}} </b> - 
      
      {{news.info}}  </li> 
    {% endfor %} 
    
  </UL>
</div>

<!-- ========== READING ========== -->
<span class="anchor" id="reading"></span>
<div class="docs-section">
  <h4>Reading List</h4>
  <!-- <p> Scroll for older news </p> -->
  <div style=" overflow-y: scroll; height:300px;"> 
    {% for entry in site.data.reading %}
      <OL style="padding: 2px;">
        <h5> <b> {{entry.year}} </b> </h5> 
        {% for book in entry.books %} 
          <li> <a href="{{book.url}}">{{book.title}}</a> by {{book.author}} </li> 
        
        {% endfor %} 
      </OL>

    {% endfor %} 
    </div> 
</div>

<div class="docs-section" id="template">
    <h4>Acknowledgements</h4>
    This website is made using a template by <a href="https://github.com/msaveski/www_personal"> Martin Saveski </a> 
</div>
